__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
*.egg-info/
.git
.gitignore
.github
tests/
*.md
*.yaml
*.yml
!requirements*.txt
cloudbuild.yaml
.pytest_cache/
htmlcov/
.coverage
dist/
build/
